#main{
    animation-name:hide;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    position:absolute;
}

@keyframes hide{
    0%{
        right:-10px;
        
        opacity:1;
    }
    50%{
        opacity:1;
        right:10px;
        
    }
    75%{
        right:-5px;
    }
    100%{
        right:-10px;
        opacity:0;
    }
}